* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #00252e; 
}

h1, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800; 
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px;
    padding: 10px 40px;
}

.huddle {
    height: 30px;
}

.button {
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans';
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.button-top {
    padding: 10px 30px;
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
}

.button-top:hover {
    transform: scale(1.1);
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 100px 15px 0px 15px;
    margin-right: auto;
    margin-left: auto;    
}

.section-a p {
    text-align: center;
    padding: 0px 25px;
}

.section-a h1 {
    font-size: 40px;
    font-weight: 800; 
}

.button-second {
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 0px;
    border: 1px solid hsl(322, 100%, 66%);
    color: white;
    box-shadow: 0 5px 20px -6px gray;
}

.button-second:hover {
    background-color: white;
    color: hsl(322, 100%, 66%);
}

.section-b {
    align-items: center;
}

@media only screen and (min-width: 62em) {
  .section-b img.mockups {
    width: 80%; 
  } 
}

.statistics {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    flex-wrap: wrap;
}

.numbers {
    font-size: 70px;
    font-weight: 700;
}

.section-c {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
}

.grow-content {
    background: #f5faff; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 414px) {
  .grow-content {
    flex-wrap: wrap-reverse; 
    text-align: center;
  } 
}

.grow-content h2 {
    font-weight: 800;
}

.grow-text {
    padding: 0 100px;
}

.grow-image {
    max-width: 40%;
    height: auto;
}

@media only screen and (max-width: 414px) {
  .grow-image {
    max-width: 80%;
    height: auto;
  } 
  .grow-text h2, p {
    padding-top: 20%;
  }
}

.section-d {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
}

.flow-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flow-content h2 {
    font-weight: 800;
}

@media only screen and (max-width: 414px) {
  .flow-content {
    flex-wrap: wrap; 
    text-align: center;
  } 
}

.flow-image {
    max-width: 40%;
    height: auto;
}

.flow-text {
    padding: 0 100px;
}

@media only screen and (max-width: 414px) {
  .flow-image {
    max-width: 80%;
    height: auto;
  } 
  .flow-text h2, p {
    padding-top: 20%;
  }
}

.section-e {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
}

.users-content {
    background: #f5faff; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 414px) {
  .users-content {
    flex-wrap: wrap-reverse; 
    text-align: center;
  } 
}

.users-content h2 {
    font-weight: 800;
}

.users-text {
    padding: 0 100px;
}

.users-image {
    max-width: 40%;
    height: auto;
}

@media only screen and (max-width: 414px) {
  .users-image {
    max-width: 80%;
    height: auto;
  } 
  .users-text h2, p {
    padding-top: 20%;
  }
}

.section-f {
    padding: 100px 0;
    text-align: center;
}

.section-f h2 {
    font-weight: 800;
    padding-bottom: 20px;
}

.footer {
    color: hsl(0, 0%, 100%);
    line-height: 24px;
    text-align: left;    
}

.footer-content {
    color: hsl(0, 0%, 100%);
    background: #00252e;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap-reverse;
}

.footer-logo {
    display: inline;
    text-align: left;
    overflow: hidden;
    border: none;
}

.newsletter h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.button-third {
    padding: 7px 40px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    background-color: #ff52bf;
    font-family: 'Open Sans';
    font-weight: 600;
    box-shadow: 0px 2px 13px 2px rgba(0, 0, 0, 0.2);
    transition: all .2s;
}

.attribution {
    color: #fff;
    background-color: #00252e;
    text-align: center;
}

.attribution a {
    color: hsl(322, 100%, 66%);
}

@media only screen and (min-width: 48em) {
    .footer .fa-lg {
        font-size: 30px; 
    }
    .footer .form-row .text-right {
        text-align: left !important; 
    } 
}

@media only screen and (min-width: 62em) {
    .footer .left {
        order: 2; 
    } 
}
